body {
  background-color: #eee;
  font-size: 18px;
}
.grid {
  width: 600px;
  height: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 50px 50px 50px;
  border: 2px solid #cbcbcb;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #cbcbcb;
}

.grid h1 {
  background-color: #57636e;
  color: #fff;
  font-family: sans-serif;
  font-size: 60px;
  text-align: center;
  padding: 2px 0px;
  border-radius: 30px;
}
#grid #question {
  font-family: sans-serif;
  font-size: 30px;
  color: #5a6772;
}
#buttons {
  margin-top: 30px;
}
#btn0,
#btn1,
#btn2,
#btn3 {
  background-color: #778897;
  color: #fff;
  width: 250px;
  font-size: 16px;
  border: 1px solid #1d3c6a;
  border-radius: 30px;
  margin: 10px 40px 10px 0px;
  padding: 10px;
}
#progress {
  color: #2b2b2b;
  font-size: 20px;
}

#btn0:hover,
#btn1:hover,
#btn2:hover,
#btn3:hover {
  cursor: pointer;
  background-color: #57636e;
}
#btn0:focus,
#btn1:focus,
#btn2:focus,
#btn3:focus {
  outline: 0;
}

#score {
  text-align: center;
} /* 결과 점수 */
